<div>
  <table class="todo-list">
    <tr>
      <th>No</th>
      <th>Todo</th>
      <th>Done</th>
    </tr>
  </table>
</div>

<form class="input-form">
  <input id="title" type="text">
  <input id="post-btn" type="button" value="投稿">
</form>

<div class="edit-modal-wrapper">
  <div class="modal">
    <div class="close-modal">閉じる</div>
    <div class="edit-modal">
      <h2>Todoを編集</h2>
      <form class="edit-form">
        <input id="repost-title" type="text">
        <input id="repost-btn" type="button" value="修正">
      </form>
    </div>
  </div>
</div>